<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeliumKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SpeakToWeather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE480AC51DE9AC1300A26577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE480AD91DE9AC1400A26577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE480AED1DE9AE8A00A26577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE480AF51DE9AE8A00A26577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
